body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    box-sizing: border-box;
    display: flex;
    gap: 50px;
}

/* Dimensions slider */

#dimensions-selection{
    width: 20vw;
    align-self: center;
    margin-left: 20px;
}


/* Container */

#container {
    border: 0.1px solid black;
    box-sizing: border-box;

    align-self: center;

    width: min(70vw, 70vh, 700px);
    /* selects min value between the 3 */
    aspect-ratio: 1/1;

    display: flex;
    flex-direction: column;
}

/* Container pixels */

.row,
.pixel {
    border: 0.1px solid black;
    flex: 1;
}

.row {
    display: flex;
}